* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }


body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
  background: #979494;
}

.head {
	text-align: center;
}
  
.container {
	padding: 1rem;
	max-width: 40rem;
	width: 100%;
	max-height: 25rem;
	margin: 0 auto;
}
  
  /* ------------------------------------ */
  
.slider__wrapper {
	width: 100%;
	overflow: hidden;
}

.text__wrapper {
	display: flex;
}
  
.text__container {
	width: 100%;
	display: flex;
	overflow: hidden;
}
  
  /* ------------------------------------ */
  
.slider__container {
	width: 400%;
	height: 100%;
	display: flex;
	padding: 1rem 0;
}
  
.slide {
	width: 25%;
	transition: all 0.5s ease;
	border-radius: 1rem;
	overflow: hidden;
}
  
.slide img {
	width: 100%;
	height: 100%;
}

.slide1 {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	object-fit: cover;
	min-height: 25%;
	min-width: 25%;
	height: auto;
}
  
  /* ------------------------------------ */
  
input[name='slide'] {
	display: none;
}
  
  /* ------------------------------------ */
  
.nav {
	height: 3rem;
	display: flex;
	/* background-color: white; */
	background: inherit;
}
  
.nav__items {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	box-sizing: border-box;
	padding: 0.2rem;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
}
  
.nav__items-item {
	width: 1rem;
	height: 1rem;
	background-color: white;
	border-radius: 50%;
	border: 0.1rem solid gray;
}
  
  /* ------------------------------------ */
  
.text__slider {
	width: 500%;
	display: flex;
	flex-shrink: 0;
	overflow: hidden;
}

.text {
	font-family: 'Montserrat';
	font-style: italic;
	font-size: 1rem;
	width: 25%;
	transition: all 0.5s ease;
}


  
  /* ------------------------------------ */
  
#one:checked ~ .text__wrapper .nav__item-one {
	border-color: black;
	background-color: black;
}

#two:checked ~ .text__wrapper .nav__item-two {
	border-color: black;
	background-color: black;
}

#three:checked ~ .text__wrapper .nav .nav__item-three {
	border-color: black;
	background-color: black;
}

#four:checked ~ .text__wrapper .nav .nav__item-four {
	border-color: black;
	background-color: black;
}

#five:checked ~ .text__wrapper .nav .nav__item-five {
	border-color: black;
	background-color: black;
}
  
.nav__items:hover .nav__items-item,
 #one:checked ~ .nav .nav__items:hover .nav__item-one,
 #two:checked ~ .nav .nav__items:hover .nav__item-two,
 #three:checked ~ .nav .nav__items:hover .nav__item-three,
 #four:checked ~ .nav .nav__items:hover .nav__item-four,
 #five:checked ~ .nav .nav__items:hover .nav__item-five {
	border-color: black;
}
  
.nav__items:active .nav__items-item,
#one:active ~ .nav .nav__items:hover .nav__item-one,
#two:active ~ .nav .nav__items:hover .nav__item-two,
#three:active ~ .nav .nav__items:hover .nav__item-three,
#four:active ~ .nav .nav__items:hover .nav__item-four,
#five:active ~ .nav .nav__items:hover .nav__item-five {
	border-color: rgb(25, 207, 239);
}
  
  /* ------------------------------------ */
  
#one:checked ~ .slider__container .started,
#one:checked ~ .text__wrapper .text__slider .started {
	margin-left: 0%;
}

#two:checked ~ .slider__container .started,
#two:checked ~ .text__wrapper .text__slider .started {
	margin-left: -25%;
}

#three:checked ~ .slider__container .started,
#three:checked ~ .text__wrapper .text__slider .started {
	margin-left: -50%;
}

#four:checked ~ .slider__container .started,
#four:checked ~ .text__wrapper .text__slider .started {
	margin-left: -75%;
}

#five:checked ~ .slider__container .started,
#five:checked ~ .text__wrapper .text__slider .started {
	margin-left: -100%;
}
  
  /* ------------------------------------ */
  
@media (max-width: 635px) {
	.text__wrapper {
		display: flex;
	  	flex-direction: column;
	  	align-items: center;
	  	justify-content: center;
	}
  
	.nav {
	  	order: -1;
	}
}
  